{% extends "base.html" %}
{% block meta %}
<meta name="description" content="{{data.abstract}}">
<meta name="keywords" content="{{data.tag}}">
<title>{{data.artititle}} - 烂柯居</title>
{% endblock %}
{% block content %}
<div class="well">
<div class="article">
<artititle>{{data.artititle}}</artititle>
<date>{{data.date}}</date>
<file>{{data.file}}</file>
<abstract>{{data.content|safe}}</abstract>
<tag id="tags">{{data.tag}}</tag>
</div>
</div>
<br>
<div class="well">
<div id="commentpost">
    <textarea rows="3" v-model="text" v-on:dblclick="cancel" v-bind:placeholder="textholder"></textarea>
    <br>
    <div style="text-align:right">
    <input v-model="author" v-bind:placeholder="inputholder"/>
    <button v-on:click="post">发布评论!</button>
    </div>
</div>
<div id="comments">
<comment v-for="info in infos" v-bind:info="info"></comment>
</div>
</div>
<br><br>
{% endblock %}