{% extends "base.html" %}


{% block meta %}
<meta name="description" content="{{ curArti.abstract }}">
{% endblock %}



{% block title %}
<title>{{ curArti.title }}</title>
{% endblock %}

{% block arti %}
<script type="text/javascript" src="//cdn.bootcss.com/highlight.js/9.6.0/highlight.min.js"></script>
<link href="//cdn.bootcss.com/highlight.js/9.6.0/styles/googlecode.min.css" rel="stylesheet">




<div class="well">
    <h1>{{ curArti.title }}</h1>
    {% if session.get('log') %}
    <div class="cconfirmDel" id="commdel">
    <br><h4>确认删除?</h4><br>
    <button class="sm" id="codel">删除</button>
    <button class="sm" id="coqui">不了</button>
    </div>
    <a style="margin-left:10px" href="/edit/{{ id }}"><button class="sm">编辑</button></a>
    <button class="sm" id="ibd">删除</button>
    <div id="bd" class="confirmDel">
    <h4>确认删除?</h4>
    <button class="sm" id="cd" pid="{{ id }}">删除</button>
    <button class="sm" id="qd">不了</button>
    </div>
    {% endif %}
    <p class="xs" style="float:right">{{ curArti.date }}</p>
    <br><br>
    <arti>{{ curArti.content|safe }}</arti>
    <br>
    <div class="ltag">
    <span>&#61484;</span>
    {%- for tag in (curArti.tag or '').split(',') %}
    <a href="/arch/{{ tag }}/1"  class="nul"><span class="tag">{{ tag }}</span></a>
    {%- endfor %}
    </div>
    <br>
    <br>
</div>

<div class="well">

<form method="POST">
    <textarea style="width:100%;margin-bottom:10px" name="comment" id="comment" rows=3 placeholder="一句话吐槽"></textarea>
    <br>
    <div style="float:right">
    <input type="text" name="author" placeholder="输入您的昵称或直接留空">
    <button type="submit" class="sm">发布评论!</button>
    </div>
    <input type="text" id="reply" name="reply" style="display:none">
</form>
<br><br>

{%- for ct in curArti.comList %}
<div class="comm {{ ct[4] }}">
<HR color=#ddd SIZE=1>
<span>{{ ct[2] }}</span>
<a href="#-1"><rep class='{{ ct[4] }}' id="{{ ct[3] }}">&#61714;&nbsp;回复</rep></a>
<pre>{{ ct[0] }}</pre>
<p>{{ ct[1] }}</p>
{% if session.get('log') and ct[1] != "" %}
<button class="sm cd" pid="{{ ct[3] }}">删除</button>
{% endif %}

</div>
{%- endfor %}
</div>




{% endblock %}

