<!DOCTYPE html>
<head>
<meta charset="utf-8" /> 
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="//cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
<link href="/static/css/skyin.css" rel="stylesheet">
<script src="/static/css/skyin.js"></script>
<script src="/static/css/skyin-mctrl.js"></script>
<meta http-equiv="Content-Language" content="zh-cn">
{% block meta %}
<meta name="description" content="从前
有把斧子
在做一个很长很长的梦
......">
{% endblock %}
<meta name="AUTHOR" content="烂柯">
<title>{{ info.title }} - {{ info.subtitle }}</title>
</head>
<body>
<canvas id="cvs"></canvas>
<nav id="nav">
<div id="circle"><span>Skyin.Win</span></div>
<div id="nbtns">
<a href='/'><navbtn>&#61461; 首页</navbtn></a>{%- for (id,cate) in info.cate.items() %}<a href='/arch{{ id }}/1'><navbtn>{{ cate }}</navbtn></a>{%- endfor %}<a href='/memo'><navbtn>&#61508; 留言板</navbtn></a><a href='/wish'><navbtn>&#61549; 许愿池</navbtn></a>
</div>
<div id="navcate">&#61641;</div>
</nav>
<div id="mask"></div>
{% block main %}
<push></push>
<div class="container">
<div class="main">
<div class="full">
{% block content %}{% endblock %}
</div>
</div><div class="sidebar">
<div class="full">
{{ info.sidebar|safe }}
<div class="well small">
<tab>标签</tab>
<hr>
{{ info.tags|safe }}
</div>
</div>
</div>
</div>
{% endblock %}
<br><br><br>
<footer id="footer">
<p>Powered by 烂柯</p>
<p><a href="/article/4" target="_blank">﻿博客源码</a>||<a href="http://www.feedsoso.com/feed/yzlmru">订阅本博客</a></p>
<p id="time"></p>
<p>本站所有原创内容遵循<a href="https://creativecommons.org/licenses/by-nc-sa/3.0/cn/legalcode" target="_blank">知识共享署名3.0</a>，欢迎转载</p>
</footer>
</body>