{% extends "base.html" %}
{% block content %}
{%- for arti in data.artis %}
<div class="well">
<div class="artiList">
<a href="/article/{{arti.id}}" target="_blank"><artititle>{{arti.title}}</artititle></a>
<date>{{arti.date}}</date>
<file>{{arti.file}}</file>
<abstract>{{arti.abstract}}</abstract>
<artiimg>{{arti.img|safe}}</artiimg>
<tag>{{arti.tag}}</tag>
<a href="/article/{{arti.id}}"><button>阅读全文</button></a>
</div>
</div>
<br>
{%- endfor %}
<a href='/page/'><pagn class="prev"></pagn></a>
{%- for num in range(1,data.count+1) %}
<a href='/page/{{ num }}'><pagn>{{ num }}</pagn></a>
{%- endfor %}
<a href='/page/'><pagn class="next"></pagn></a>
<br><br>
{% endblock %}