{% extends "base.html" %}
{% block content %}
<div class="well">
<div class="article">
<abstract>
<strong>不要怀疑，这是一个货真价实的互联网许愿池。</strong>
<br><br>
许愿是一个非常具有技巧性的工作。下面是一些<strong>重要的</strong>说明：
<p style="padding-left:2em">1. 不限定实现途径的许愿往往会带来危险的后果。（听说过“猴爪”的故事吗？）</p><p style="padding-left:2em">2. 愿望在规定期限内被实现的可能性取决于您的相信程度。（当您坚信“明天将下鱼”时，那么明天真的会下鱼。）</p><p style="padding-left:2em">3. 许愿池可以为您提供“有意义的巧合”，或者说“小概率的偶然”，但无法违背物理规律。（别想利用这里掌握火球术！）</p>
<br><br>
阅读以上的说明完毕，请<strong>依照以下步骤许愿</strong>：
<p style="padding-left:2em">1. 在脑海中明确愿望、实现途径与期限。</p><p style="padding-left:2em">2. 投掷一枚硬币，投出正面（数字1）的请在月池许愿；投出背面（菊花）的请在日池许愿。</p><p style="padding-left:2em">3. 在池中输入的内容以及署名没有任何要求。你可以写下自己的愿望，也可以输入一堆乱码。</p><p style="padding-left:2em">4. 许愿结束后直到愿望实现期间，请保持一切如常。请不要因为许愿一事而影响您的生活。</p>

</abstract>
</div>
</div>
<br>
<div class="well">
<div id="moon">
    <textarea rows="3" v-model="text" v-bind:placeholder="textholder"></textarea>
    <br>
    <div style="text-align:right">
    <input v-model="author" v-bind:placeholder="inputholder"/>
    <button v-on:click="post">许下愿望!</button>
    </div>
</div>
</div>
<br>
<div class="well">
<div id="sun">
    <textarea rows="3" v-model="text" v-bind:placeholder="textholder"></textarea>
    <br>
    <div style="text-align:right">
    <input v-model="author" v-bind:placeholder="inputholder"/>
    <button v-on:click="post">许下愿望!</button>
    </div>
</div>
</div>
<br><br>
{% endblock %}