@font-face {font-family: 'Lato';font-style: normal;font-weight: 100;src: local('Lato Hairline'), local('Lato-Hairline'), url('http://ohlk7ls6k.bkt.clouddn.com/Lato.woff2') format('woff2');unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;}

@font-face {
  font-family: 'FontAwesome';
  src: url('//cdn.bootcss.com/font-awesome/4.6.3/fonts//fontawesome-webfont.eot?v=4.6.3');
  src: url('//cdn.bootcss.com/font-awesome/4.6.3/fonts//fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'), url('//cdn.bootcss.com/font-awesome/4.6.3/fonts//fontawesome-webfont.woff2?v=4.6.3') format('woff2'), url('//cdn.bootcss.com/font-awesome/4.6.3/fonts//fontawesome-webfont.woff?v=4.6.3') format('woff'), url('//cdn.bootcss.com/font-awesome/4.6.3/fonts//fontawesome-webfont.ttf?v=4.6.3') format('truetype'), url('//cdn.bootcss.com/font-awesome/4.6.3/fonts//fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.confirmDel{display:none;width:120px;height:80px;background:#fff;position:absolute;border-radius: 10px;border: #ddf7ff;border-style: solid;top:100px;left:160px;text-align:center}
.cconfirmDel{display:none;width: 40%;height: 160px;background: #fff;position: fixed;border-radius: 10px;border: #ddf7ff;border-style: solid;top: 30%;left: 50%;margin-left: -20%;text-align: center;}

.tx{
    background-image: url(http://ohlk7ls6k.bkt.clouddn.com/59262810b1794389.jpg);
    background-size: 90px 90px;
    height: 90px;
    width: 90px;
    margin:0 auto;
    border: 2px groove #fff;
    border-radius: 15px;}

.comm{color:666;overflow:hidden}
.comm pre{line-height:1.4;font-size:14.5px;margin-top:8px;margin-left:5px;}
.comm span{font-size:14.5px;font-weight:bold;}
.comm span.ti{font-size:12.5px;font-weight:normal;font-style:italic;color:#aaa;margin-left:10px}
.comm rep{font-size:12px;font-weight:normal;color:#aaa;cursor:default;display:inline}
.comm hr{FILTER: alpha(opacity=100,finishopacity=0,style=1);margin:25px -30px;clear:both}
.comm p{text-align:right;color:#aaa;font-size:14px;margin-top:10px}
.comm a{text-decoration:none;}
.comm.re{margin-left:20px;padding-left:20px}
.comm.re hr{margin:15px -30px;}
.comm.re rep{display:none}

.contain.nn{z-index:10;position:relative}

.audc{height:4vw;width:20%;display:inline-block;line-height:4vw;overflow:hidden;}
.audc:hover{background:#B2DFEE;color:#fff}

.well.tag{padding:10px 20px;word-break:keep-all;}

.pusha{width:32%;display:inline-block;}

#musc{height:65px;width:60px;border-radius:40px;line-height:40px;background:#fff;
    color: #aaa;
    font-size: 40px;
    border:1px solid #B2DFEE;
    padding-top:15px;
    padding-left:20px;
    position:relative;
    left:50%;
    margin-left:-40px;
    z-index:100;
}
#musc:hover{color:#888}

.well.memo{margin:20px 8px;padding:10px 15px;overflow:hidden;word-break:break-all;border-radius:2px}

s1{display:none}
s1:hover{color:#222;}

#ply{
    display:none;
    padding-left: 15px;
    left: 55px;
    background: #FFF;
    height: 4vw;
    border-radius: 0 1vw 1vw 0;
    text-align: center;
    position: absolute;
    top:40px;
    right: -1vw;
    margin-top:-2vw;
    border: 1px solid #B2DFEE;
    z-index:20;
}

#audi{
margin:0 2vw;
-moz-user-select:none;
-webkit-user-select:none;
-ms-user-select:none;
-khtml-user-select:none;
user-select:none;
font-size:2.2vw;
color:#aaa;
cursor:default;
position:relative;
}

p,pre{margin:0}

select,input,textarea,button{font-size:16px;border-radius:4px;padding:0 4px;margin:0;background:#FFF;min-height:24px;border-width:1px;border-color:#ccc;border-style:solid}
label{font-size:16px;font-weight:500;margin:0 10px}

html,body{height:100%;width:100%;margin:0;background:#f9f9f9;color:#545454;font-family:Helvetica,微软雅黑,sans-serif,FontAwesome !important;}

.main{height:100%;margin:0;}

.maincon{margin-bottom:-105px;min-height:100%;}

.well.wish{padding:10%;}

a.nl{text-decoration:none;}

.colm{width:25%;float:left}

pre{white-space:pre-wrap;font-size:16.5px;line-height:2.2;font-family:Helvetica,sans-serif,FontAwesome !important;}


.bg{color:#ddd;font-family:Lato,Avenir Next,sans-serif !important;font-weight:100;}

nav{background:#BFD1DF;height:36px;width:100%;position:fixed;top:0;z-index:1200;-moz-user-select:none;
-webkit-user-select:none;
-ms-user-select:none;
-khtml-user-select:none;
user-select:none;}

.navbu{background:#BFD1DF;height:28px;padding:4px;color:#fff;font-size:18px;float:left;margin-left:1%;}
.navbu:hover{background:#4f94cd;}

.navbu.ind{margin-left:-10px;margin-right:10px}

.navs{position:fixed;right:5%;top:36px;opacity:0.8;display:none}

.push{height:105px;width:100%}

.pushi{height:120px}

mask:hover{opacity: 0.3;}
mask{opacity: 0.05;cursor:default;font-size:80px;display:block;position:absolute;left:50%;bottom:5%;color:#FFF;margin-left:-40px}

.snow{position:fixed;top:0;color:#fff;z-index:2000;}

a.nul{text-decoration:none}

.well.ad{padding:5px;overflow:hidden}

.bi{width:100%;height:100%;background:url(/static/img/bg.jpg);overflow:hidden}

.contain.ch{position:absolute;top:25%}

.pushl{margin-left:10%}


.footer{height:105px; background:#d5e1ea;opacity:0.7;width:100%;color:#333;clear:both;z-index:80;position:relative}

hr.er{border-top:1px solid #ddd;width:80%;margin-left:0}

.foote{position:relative;top:20px;margin-left: 4%;font-size:13px;line-height:1.2;text-align:center;}

span.logo{display:block;text-align:center;position:relative;top:135px;}

span.bars{color:#fff;font-size:25px;line-height:36px;margin-right:6%;float:right;cursor:default}

.navx{background: #FFF;height: 27px;width: 80px;display: block;color: #333;font-size: 18px;padding-left: 30px;padding-top: 1px;border-top: 1px #ddd;border-top-style: solid;}

.navx.ind{border-top-left-radius: 5px;border-top-right-radius: 5px;}
.navx.bott{border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;}

.well{background:#FFF;border-radius:6px;margin:45px 10px;padding:30px 40px;border: 1px solid #ddd;word-break:break-all;clear:both;}

.well.memo hr{border: 0px solid #dedede;border-top-width: 1px;}

.navx:hover{background:#BFD1DF;}


cir{width:180px;height:180px;background-color:#BFD1DF;border-radius:90px;position:relative;top:-130px;float:left;font-family: 'Trebuchet MS',sans-serif;font-size:22px;color:#fff;}

cir:hover{background:#FFF;color:#222}
flash{background:#FCF8E3;border-radius:5px;border:1px solid #FAEBCC;padding:5px 12px;font-size:18px;color:#8A6D3B}

.bg.do{font-size:8vw;text-align:center;position:relative;top:30%}
.bg.no{font-size:6vw;}
.contain{width:80%;margin:0 10%;z-index:1;position:relative}

a{color:inherit;}

.pagn{margin:30px;margin-top:-15px;}


.pagn a {
    border-radius: 15px;
    width: 30px;
    height: 30px;
    background: #fff;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: #999;
    line-height:30px;
    margin:1px
}

.pagn a:hover{background:#63B8FF;color:#FFF}

.pagn a.act{background:#63B8FF;color:#FFF}

#cvs{position:fixed;overflow:hidden;}

a:hover{color:#ccc}

p.xs{color:#888;font-style:italic;font-size:16px}

p.xxs{color:#888;font-style:italic;font-size: 14px;}

p.xxs.r{text-align:right}

button.lg{height:36px;border-radius:10px;padding:0 10px;font-size:18px;color:#666}

.center{text-align:center}

.well center{margin-top:15px}

span.tag{margin-left: 2px;font-style:italic}


span.tags{margin-left: 5px;font-size:14px}

span.tagm{margin-left: 5px;font-size:18px}

span.tagl{margin-left: 5px;font-size:24px}

button.sm{height:24px;border-radius:8px;padding:0 6px;font-size:14px;color:#888;background:#FFF;}

button.sm:hover{color:#000;background:#eee}

h1,h2,h3,h4,h5,h6{font-weight:500;margin:10px}
small{color:#888}

code{background:#f2f2f2 !important;border:1px solid #eee;line-height:1.5;padding:12px;font-size:14px;margin:10px;border-radius:4px !important;}



blockquote {
background:#f9f9f9;
border-left:10px solid #eee;
margin:10px;
padding:12px;
padding-left:30px;
line-height:1.8;
}

.well img{max-width:80%;}

center{text-align:center;}


arti{line-height:2.2;word-break:break-all;}


h2.cen{text-align:center;}

.disp{text-align:center;margin:20px;color:#888;font-size:14px;font-style:italic}

.ltag{font-size:14px;color:#888;margin:10px}

.content{width:100%;position:relative;z-index:1}
.arti{width:70%;float:left}
.sideb{width:30%;float:left}

img.fil{width:80px;position:relative;left:-57px;top:-20px}
.fil{color:#FFF;position:relative;left:-32px;top:-36px;margin-bottom:-25px;cursor:default}

#muscrl{height:82px;top:80px;left:68%;right:5%}

#banner{width:100%;height:400px;position:relative;z-index:0;position:absolute;background:url(/static/img/banner.jpg) no-repeat;margin-bottom:-120px;}

#mask{display:none;background:rgba(0, 0, 0, 0.2);position:fixed;width:100%;height:100%;text-align:center;z-index:1300}

@media only screen and (min-width: 1200px){
    .content{width:70%;margin-left:15%}
    #muscrl{left:66%;right:10%}
    #banner{background-size:100%}
}
@media only screen and (min-width: 768px) and (max-width: 1200px){
    .content{width:90%;margin-left:5%}
    .bg.do{font-size:10vw;}
    .bg.no{font-size:8vw;}
    .contain{width:90%;margin:0 5%;}

}
@media only screen and (min-width: 420px) and (max-width: 768px){
    .content{width:90%;margin-left:5%}
    .arti{width:100%;display:block}
    .sideb{display:none}
    .bg.do{font-size:12vw;}
    .bg.no{font-size:9vw;}
    .contain{width:100%;margin:0;}
    .navbl{display:none}
    .colm{width:100%;float:left}
    s1{display:inline}

}
@media only screen and (max-width: 420px){
    .finu{display:none}
    .well{margin:20px 5px;padding:4px;box-shadow:none}
    .arti{width:100%;display:block}
    .sideb{display:none}
    .bg.do{font-size:36px;}
    .bg.no{font-size:36px;}
    .contain{width:100%;margin:0;}
    .navbl{display:none}
    s1{display:inline}
    .colm{width:100%;float:left}
}
