<!DOCTYPE html>
<script src="//cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
<link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="{{ url_for('static', filename = 'css/bootstrap.css') }}" rel="stylesheet">
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


{% block title %}
<title>博客名</title>
{% endblock %}
<head>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>


<div class="main">

<div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Skyin.Win</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">博客首页</a></li>
            </ul>



            <ul class="nav navbar-nav">
                <li><a href="/memo">留言板</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if session.get('log') %}
                    <li><a href="/new">发布博客</a></li>
                    <li><a href="/logout">登出</a></li>
                {% else %}
                    <li><a href="/login">登录</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>




<div class="container">
{% block new_content %}
<div class="row">
    <div class="col-lg-7 col-lg-offset-1 col-md-8">
        {% block page_content %}{% endblock %}
    </div>
    <div class="col-lg-3 col-md-4">
    <br>
    <br><br>
    <div class="well" style="padding: 30px;padding-right:22px">
        <h3 class="text-center" >
            关于这里
        </h3>
        <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3); width='80%'" >
        <img alt="照片无法显示" src='#' class="img-responsive center-block img-circle" />
        <br>
        <p>
        这里是介绍
        </p>
        <br>
    </div>
    <div class="well">
        <h3 class="text-center" >分类目录</h3>
        <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3); width='80%'" >
        <p style="text-align: center;"><a href="/arch1/1" style="color:#545454">-&nbsp&nbsp分类1&nbsp&nbsp-</a></p>
        <p style="text-align: center;"><a href="/arch3/1" style="color:#545454">-&nbsp&nbsp分类2&nbsp&nbsp-</a></p>
        <p style="text-align: center;"><a href="/arch4/1" style="color:#545454">-&nbsp&nbsp分类3&nbsp&nbsp-</a></p>
        <p style="text-align: center;"><a href="/arch5/1" style="color:#545454">-&nbsp&nbsp分类4&nbsp&nbsp-</a></p>
    </div>
    </div>
</div>
{% endblock %}
</div>
<br>
<div class="push"></div>
</div>

<div style='height:120px; clear:both; background:#696969;width:100%;color:#F5F5F5; font-style: italic'>
<br>
<h5 style="margin-left: 50px;">Powered by 烂柯</h5>
<h5 style="margin-left: 50px;">Designed by 烂柯</h5>
<h5 style="margin-left: 50px;">本站所有原创内容遵循<a style="color:#F5F5F5;" href="https://creativecommons.org/licenses/by-nc-sa/3.0/cn/legalcode">知识共享署名3.0</a>，欢迎转载</h5>
</div>
