<!DOCTYPE html>
<head>
<script src="//cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
<link href="/static/css/skyin.css" rel="stylesheet">
<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
<link rel="icon" href="/static/favicon.ico" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="/static/css/skyin.js"></script>
<meta http-equiv="Content-Language" content="zh-cn">

{% block title %}<title>博客名</title>{% endblock %}
</head>

<body>
{% block bg %}{% endblock %}
<div id="main" class="main">
<div class="maincon">
<canvas id="cvs"></canvas> 
<nav id="nav">
<a href="/"><cir><span class="logo">Skyin.Win</span></cir></a>
<div class="navbl">
<a href="/page/1"><div class="navbu ind">博客首页</div></a>
<a href="/arch1/1"><div class="navbu">分类1</div></a>
<a href="/arch3/1"><div class="navbu">分类2</div></a>
<a href="/arch4/1"><div class="navbu">分类3</div></a>
<a href="/arch5/1"><div class="navbu">分类4</div></a>
<a href="/memo"><div class="navbu">留言板</div></a>
</div>
<s1 ><span id="navc" class="bars">&#61641;</span></s1>
<div id="navs" class="navs">
<a href="/page/1" class="nl"><div class="navx ind">首页</div></a>
<a href="/arch1/1" class="nl"><div class="navx">分类1</div></a>
<a href="/arch3/1" class="nl"><div class="navx">分类2</div></a>
<a href="/arch4/1" class="nl"><div class="navx">分类3</div></a>
<a href="/arch5/1" class="nl"><div class="navx">分类4</div></a>
<a href="/memo" class="nl"><div class="navx bott">留言板</div></a>
</div>
</nav>








{% block content %}

<div class="pushi"></div>


<div class="content">

<div class="arti">

{% block arti %}
{% endblock %}

</div>
<div class="sideb">
公告内容




<div class="well tag">
<p style="font-weight:600">标签</p>
<HR style="FILTER: alpha(opacity=100,finishopacity=0,style=1)" width="96%" color=#ddd SIZE=1>
<a href="/arch/Flask/1"  class="nul" target="_blank"><span class="tagm">Flask</span></a>
<a href="/arch/数据库/1"  class="nul" target="_blank"><span class="tagm">数据库</span></a>
<a href="/arch/折腾/1"  class="nul" target="_blank"><span class="tagl">折腾</span></a>
<a href="/arch/python/1"  class="nul" target="_blank"><span class="tagm">python</span></a>
<a href="/arch/pythonanywhere/1"  class="nul" target="_blank"><span class="tagm">pythonanywhere</span></a>
<a href="/arch/分类4/1"  class="nul" target="_blank"><span class="tagl">分类4</span></a>
<a href="/arch/闲谈/1"  class="nul" target="_blank"><span class="tags">闲谈</span></a>
<a href="/arch/源码/1"  class="nul" target="_blank"><span class="tagm">源码</span></a>
<a href="/arch/坑/1"  class="nul" target="_blank"><span class="tagm">坑</span></a>
</div>


<div class="well ad">
</div>

</div>
</div>


{% endblock %}







<div class="push"></div>
</div>
<div class="footer">
<div class="foote">
<p>Powered by 烂柯</p>
<p>Designed by 烂柯</p>
<p>本站所有原创内容遵循<a href="https://creativecommons.org/licenses/by-nc-sa/3.0/cn/legalcode" target="_blank">知识共享署名3.0</a>，欢迎分类4</p>
</div>
</div>
</div>
</body>