{% extends "base.html" %}

{% block banner %}
{% endblock %}


{% block content %}
<link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/wangeditor/2.1.10/css/wangEditor.min.css">
<script type="text/javascript" src="//cdn.bootcss.com/wangeditor/2.1.10/js/wangEditor.min.js"></script>




<div class="content">
    <br><br><br><br>
    <form method="POST" onSubmit="return confirm();">
        <label>分类</label>
        <select name="file" style="width:80px">
        <option value =1>闲聊</option>
        <option value =3>编程</option>
        <option value =4>杂谈</option>
        <option value =5>转载</option>
        </select>
        <label>标签</label>
        <input type="text" name="tags" style="width:50%" value={{ tags }}>
        <br><br>
        <label>标题</label>
        <input type="text" name="title" style="width:60%" value={{ title }}>
        <br><br>
        <label>摘要图</label>
        <input type="text" name="img" style="width:60%" value={{ img }}>
        <br><br>
        <textarea id="editor" name="editor" style="height:600px" type="text">{{ content }}</textarea>
        <script type="text/javascript">var editor = new wangEditor('editor');editor.create();</script>
        <br>
        <button id="subm" class="lg">发布博客</button>
    </form>
    <br>
</div>
{% endblock %}
