{% extends "base.html" %}


{% block content %}

<div style="height:80px"></div>
<div class="contain">
<form method="POST">
    <textarea name="comment" style="width:100%" rows=4 placeholder="在这里留言"></textarea>
    <br>
    <button type="submit" style="float:right">发布留言!</button>
    <input type="text" style="float:right " class="form-control" name="author" placeholder="输入您的昵称或直接留空">
</form>
<br>
<br>






{%- for ass in range(4) %}

<div class="colm">

{%- for ct in tem[ass::4] %}
<div class="well memo">
<p class="xxs">{{ ct[2] }}</p>
<!--<p class="xxs r">{{ ct[1] }}</p>-->
{% if session.get('log') and ct[1] != "" %}
<a href="/del/0/{{ ct[3] }}" style="float:right"><button class="sm">删除</button></a>
{% endif %}
<hr>
<pre>{{ ct[0] }}</pre>

</div>
{%- endfor %}

</div>
{%- endfor %}

</div>


{% endblock %}
