{% extends "base.html" %}

{% block new_content %}


<div class="row">
<div class="col-md-10 col-md-offset-1">
<form method="POST">
    <div class="form-group">
        <textarea class="form-control" name="comment" rows=3 placeholder="在这里留言"></textarea>
        <br>
        <div class="form-inline">
            <button type="submit" style="float:right" class="btn btn-default">发布留言!</button>
            <input type="text" style="float:right" class="form-control" name="author" placeholder="输入您的昵称或直接留空">
        </div>
    </div>
</form>
<br>
<br>
</div>
</div>


{%- for ass in range(4) %}

<div class="col-md-3" style='word-wrap:break-word;'>

{%- for ct in tem[ass::4] %}
<div class="alert alert-info" role="alert">
<p>{{ ct[0] }}</p>
{% if session.get('log') and ct[1] != "" %}
<a class=" btn btn-info btn-xs " href="/del/{{ id }}/{{ ct[3] }}" role="button">删除</a>
{% endif %}
<div style="color: rgb(170, 170, 170); font-style: italic;" class="text-right">
<p>{{ ct[2] }} &nbsp &nbsp {{ ct[1] }}</p>
</div>
</div>
{%- endfor %}

</div>
{%- endfor %}



{% endblock %}
