{% extends "base.html" %}

{% block arti %}

{%- for t in tem %}
<div class="well">
    <a href="/article/{{ t[0] }}" target="_blank" class="nul"><h2 class="cen">{{ t[1] }}</h2></a>
    <div class="disp">Posted on : {{ t[4][5:7] }}/{{ t[4][8:10] }}/{{ t[4][:4] }}</div>
    <div class="finu">
    <img src="/static/img/2.jpg" class="fil" />
    <div class="fil">{% if t[5]==1 %}闲聊{% elif t[5]==3 %}编程{% elif t[5]==4 %}杂谈{% elif t[5]==5 %}转载{% endif %}</div>
    </div>
    <pre>{{ t[2]|safe }}</pre>
    <div class="ltag">
    <span>&#61484;</span>
    {%- for tag in (t[3] or '').split(',') %}
    <a href="/arch/{{ tag }}/1"  class="nul"><span class="tag">{{ tag }}</span></a>
    {%- endfor %}
    </div>
    <a href="/article/{{ t[0] }}" class="nul"><div class="center"><button class="sm">阅读全文</button></div></a>
    <br>
    </div>
{%- endfor %}


<div class="pagn">
{% if not pg == 1 %}
    <a href="{{ pg-1 }}">&#61696;</a>
{% endif %}
{%- for cu in range(pmax) %}
{% if pg == cu+1 %}
    <a href="{{ cu+1 }}" class="act">{{ cu+1 }}</a>
{% else %}
    <a href="{{ cu+1 }}">{{ cu+1 }}</a>
{% endif %}
{%- endfor %}
{% if not pg==pmax %}
    <a href="{{ pg+1 }}">&#61697;</a>
{% endif %}
</div>


{% endblock %}
